@charset "UTF-8";@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}


/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #fafafa;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background: #181f25;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 82.875rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.button-green {
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 0rem;
  background: #0af395;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #070707;
  transition: all 0.3s;
}
.button-green--fw {
  width: 100%;
}
.button-green__empty {
  border: 0.125rem solid #0af395;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  color: #0af395;
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.border-block-settings {
  border: 0.125rem solid rgba(155, 155, 155, 0.25);
  border-radius: 0.75rem;
}
.title-section-dash-and-text {
  font-weight: 700;
  line-height: 1.21739;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: capitalize;
}
.title-section-dash-and-text p {
  font-size: 1.0625rem;
  line-height: 1.64706;
}
.title-section-dash {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  line-height: 1.21739;
  letter-spacing: 0.1em;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.searth-links-and-btn {
  display: flex;
  align-items: center;
}
.searth-links {
  border: 0.125rem solid rgba(155, 155, 155, 0.25);
  border-radius: 0.5rem;
  padding: 0rem 0rem 0rem 1rem;
  width: 70%;
  height: 3.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.searth-links svg {
  fill: #b7b7ba;
  margin-right: 1rem;
}
.searth-links input {
  height: 100%;
  width: 100%;
  padding: 0 0.5rem;
}
.searth-links button {
  font-weight: 400;
  font-size: 1.125rem;
  color: rgba(245, 245, 245, 0.8);
  background: rgba(155, 155, 155, 0.25);
  padding: 0rem 0.75rem;
  height: 100%;
  transition: all 0.3s;
}
.searth-links button:hover {
  background: #04bd70;
}
.website-name {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  border: 0.0625rem solid rgba(155, 155, 155, 0.25);
  border-radius: 0.75rem;
  background: rgba(33, 31, 31, 0.1);
}
.website-name__checkbox {
  width: 1.5rem;
  height: 1.5rem;
  accent-color: #0af395;
}
.website-name__text-block {
  display: flex;
  flex-direction: column;
}
.website-name__text-block p {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.website-name__text-block span {
  font-weight: 700;
}
.website-name__text-block a {
  font-weight: 500;
  line-height: 1.64706;
  width: 18.75rem; /* Ширина контейнера по вашему усмотрению */
  white-space: nowrap; /* Запретить перенос строк */
  overflow: hidden; /* Скрыть контент, который не помещается */
  text-overflow: ellipsis; /* Добавить многоточие в конце */
}
.website-name__text-block a:not(:last-child) {
  margin-bottom: 0.5rem;
}
.website-name__btn-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}
.website-name__btn-block svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #fff;
}
.website-name__btn-block button {
  font-weight: 600;
  font-size: 1.0625rem;
  color: #fff;
  text-transform: capitalize;
  padding: 0.75rem;
  border: 0.125rem solid #fff;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  transition: all 0.3s;
}
.website-name__btn-block button:hover {
  border: 0.125rem solid #04bd70;
}
.text-blue {
  color: #002cfc;
}
.filter-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  color: #b7b7ba;
}
.filter-block__chevron {
  width: 0.875rem !important;
  height: 0.5rem !important;
  transition: all 0.5s;
}
.filter-block__list-down {
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 0.3125rem 1.875rem;
  text-transform: capitalize;
  background: #181f25;
}
.filter-block__show, .filter-block__data, .filter-block__tag, .filter-block__type, .filter-block__country, .filter-block__device {
  position: relative;
}
.filter-block__show:hover .filter-block__chevron, .filter-block__data:hover .filter-block__chevron, .filter-block__tag:hover .filter-block__chevron, .filter-block__type:hover .filter-block__chevron, .filter-block__country:hover .filter-block__chevron, .filter-block__device:hover .filter-block__chevron {
  transform: rotate(180deg);
}
.filter-block__show:hover .filter-block__list-down, .filter-block__data:hover .filter-block__list-down, .filter-block__tag:hover .filter-block__list-down, .filter-block__type:hover .filter-block__list-down, .filter-block__country:hover .filter-block__list-down, .filter-block__device:hover .filter-block__list-down {
  top: 100%;
  visibility: visible;
  opacity: 1;
}
.filter-block__add-tag svg {
  width: 0.9375rem !important;
  height: 0.9375rem !important;
  transition: all 0.5s;
}
.filter-block__hide, .filter-block__export, .filter-block__add-tag, .filter-block__clear {
  transition: all 0.3s;
}
.filter-block__hide:hover, .filter-block__export:hover, .filter-block__add-tag:hover, .filter-block__clear:hover {
  color: #fff;
}
.filter-block svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: #b7b7ba;
}
.filter-block button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.375rem;
}
.filter-block__clear {
  margin-left: auto;
}
.filter-block__clear svg {
  transform: rotate(45deg);
  width: 0.9375rem !important;
  height: 0.9375rem !important;
}
@media (max-width: 47.99875em){
  .searth-links {
    width: 100%;
  }
  .website-name {
    flex-direction: column;
  }
  .website-name__btn-block {
    margin-left: 0;
  }
  .filter-block__clear {
    margin-left: 0;
  }
}
@media (max-width: 20em){
  .button-green {
    padding-left: 0.9375rem;
  }
  .button-green {
    padding-right: 0.9375rem;
  }
  .button-green__empty {
    padding-left: 0.9375rem;
  }
  .button-green__empty {
    padding-right: 0.9375rem;
  }
  .border-block-settings {
    padding: 0.625rem;
  }
  .title-section-dash-and-text {
    font-size: 2rem;
  }
  .title-section-dash {
    font-size: 2rem;
  }
  .website-name {
    padding: 0.625rem;
  }
  .website-name:not(:last-child) {
    margin-bottom: 1rem;
  }
  .website-name__text-block p {
    gap: 0.9375rem;
  }
  .website-name__text-block span {
    font-size: 1.5rem;
  }
  .website-name__text-block a {
    font-size: 0.875rem;
  }
  .website-name__btn-block {
    gap: 1rem;
  }
  .filter-block {
    column-gap: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 82.875em){
  .button-green {
    padding-left: clamp( 0.9375rem , 0.44048210735625rem  +  2.4850894632vw , 2.5rem );
  }
  .button-green {
    padding-right: clamp( 0.9375rem , 0.44048210735625rem  +  2.4850894632vw , 2.5rem );
  }
  .button-green__empty {
    padding-left: clamp( 0.9375rem , 0.44048210735625rem  +  2.4850894632vw , 2.5rem );
  }
  .button-green__empty {
    padding-right: clamp( 0.9375rem , 0.44048210735625rem  +  2.4850894632vw , 2.5rem );
  }
  .border-block-settings {
    padding: clamp( 0.625rem , 0.028578528825rem  +  2.9821073559vw , 2.5rem );
  }
  .title-section-dash-and-text {
    font-size: clamp( 2rem , 1.72166998011875rem  +  1.3916500994vw , 2.875rem );
  }
  .title-section-dash {
    font-size: clamp( 2rem , 1.72166998011875rem  +  1.3916500994vw , 2.875rem );
  }
  .website-name {
    padding: clamp( 0.625rem , 0.028578528825rem  +  2.9821073559vw , 2.5rem );
  }
  .website-name:not(:last-child) {
    margin-bottom: clamp( 1rem , 0.68190854870625rem  +  1.5904572565vw , 2rem );
  }
  .website-name__text-block p {
    gap: clamp( 0.9375rem , 0.75857355865rem  +  0.8946322068vw , 1.5rem );
  }
  .website-name__text-block span {
    font-size: clamp( 1.5rem , 1.4602385685875rem  +  0.1988071571vw , 1.625rem );
  }
  .website-name__text-block a {
    font-size: clamp( 0.875rem , 0.81535785288125rem  +  0.2982107356vw , 1.0625rem );
  }
  .website-name__btn-block {
    gap: clamp( 1rem , 0.84095427435625rem  +  0.7952286282vw , 1.5rem );
  }
  .filter-block {
    column-gap: clamp( 0.9375rem , 0.73869284294375rem  +  0.9940357853vw , 1.5625rem );
  }
}
@media (min-width: 82.875em){
  .button-green {
    padding-left: 2.5rem;
  }
  .button-green {
    padding-right: 2.5rem;
  }
  .button-green__empty {
    padding-left: 2.5rem;
  }
  .button-green__empty {
    padding-right: 2.5rem;
  }
  .border-block-settings {
    padding: 2.5rem;
  }
  .title-section-dash-and-text {
    font-size: 2.875rem;
  }
  .title-section-dash {
    font-size: 2.875rem;
  }
  .website-name {
    padding: 2.5rem;
  }
  .website-name:not(:last-child) {
    margin-bottom: 2rem;
  }
  .website-name__text-block p {
    gap: 1.5rem;
  }
  .website-name__text-block span {
    font-size: 1.625rem;
  }
  .website-name__text-block a {
    font-size: 1.0625rem;
  }
  .website-name__btn-block {
    gap: 1.5rem;
  }
  .filter-block {
    column-gap: 1.5625rem;
  }
}
@media (any-hover: hover){
  .button-green:hover {
    background: #04bd70;
    opacity: 0.1;
  }
  .button-green__empty:hover {
    background: #04bd70;
    color: #fff;
  }
  .filter-block__list-down li:hover {
    color: #fff;
  }
  .filter-block__add-tag:hover svg {
    transform: rotate(180deg);
  }
}